<h1 align="center">Название рецепта: <%= @recipe.name.capitalize %></h1>
<hr />
<div class='row'>
  <div class=' col-md-8 offset-md-2'>
    <div class="card bg-light">
      <div class='card-header'>Описание</div>
      <div class='card-body'>
        <hr />
        <%= @recipe.description %>
        <div class="pull-right">
          <p class="center">
            Создан:
          </p>
          <p>
            <small><%= @recipe.chef.chefname %></small>
            <div class="pull-right">
              <%= time_ago_in_words(@recipe.created_at) %> ago
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>