@import 'bootstrap';
main .jumbotron {
  background-image: asset-url('jumbotron_bg.jpg');
  background-size:cover;
  background-position: center 22%;
  h1 {
    color: #fff;
    margin-top: 170px;
  }
  p.lead {
    color: #fff !important;
  }
}
.recipe-list {
  h4 a {
    color: #4ed8a1;
  }
}
